@font-face {
	font-family: "quicksand";
	src: url("../fonts/quicksand/Quicksand-Regular.otf") format("opentype");
}

@font-face {
	font-family: "quicksand-light";
	src: url("../fonts/quicksand/Quicksand-Light.otf") format("opentype");
}

@font-face {
	font-family: "quicksand-bold";
	src: url("../fonts/quicksand/Quicksand-Bold.otf") format("opentype");
}

*{
	font-family: 'quicksand', Arial;
	letter-spacing: 1px;
}

.mt-8{
	margin-top: 100px;
}

strong{
	font-family: quicksand-bold;
}

.button{
	background: transparent;
	border: none;
	color: #2590f4;
	line-height:  26px;
	vertical-align: middle;
	font-size: 14px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 24px;
	padding-right: 24px;
	font-family: quicksand-bold;
}