body{
	background: #fafbff;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-left: 24px;
	padding-right: 24px;
	z-index: 1;
	padding-top: 16px;
	padding-bottom: 16px;
	background: linear-gradient(rgba(9, 63, 91, 1), rgba(9, 63, 91, 1));
}

header p{
	display: inline;
	vertical-align: middle;
	color: white;
	margin: 0;
}

p.logo-text{
	font-size: 20px;
	letter-spacing: 0px;
	margin-left: 8px;
}

p.user-profile-name{
	font-size: 12px;
	letter-spacing: 0px;
	margin-left: 8px;	
	font-family: quicksand-bold;
}

p.light-bg-header{
	color: black;
}

img.header-logo{
	width: 24px;
	vertical-align: middle;
	font-family: quicksand-bold;
	font-style:  italic;
}

img.user-profile-icon{
	width: 30px;
	height: 30px;
	vertical-align: middle;	
	border-radius: 15px;
	border: 1px solid white;
}

img.profile-more-icon{
	width: 8px;
	height: 8px;
	margin: 4px;
	opacity: 0.7;
	margin-top: 6px;
	vertical-align: middle;
}

p.menu-button-text{
	display: inline-block;
	font-size: 12px;
	vertical-align: middle;
	font-family: quicksand-bold;
}

div.menu-buttons div{
	 margin-bottom: -16px;
	 margin-top: 6px;
	 text-align: center;
}

div.menu-buttons div.active{
	 border-bottom: 4px solid #2590f4; 
}

div.menu-buttons div.active p{
	color: #2590f4;
}

div.charts-container{
	width: 94vw; 
	margin: 12px;
	height: 82vh;
	margin: 12px;
	background: #fff;
	box-shadow: 1px 1px 12px #e5e5e5;
	border-radius: 6px;
	padding: 12px;
}

.axis .domain {
  display: none;
}

.axis{
	font-size: 12px;
	font-family: quicksand-bold;
	font-weight: 700;
	color: #bcbcbc;
}

.axis path {
	fill: none;
	stroke: #bbb;
	shape-rendering: crispEdges;
}

.c3-axis .tick line {display: none;}

div.multiple-charts-container div.chart-item{
	margin: 8px;
	background: #fff;
	box-shadow: 1px 1px 12px #e5e5e5;
	border-radius: 6px;
	padding: 20px;
	text-align: center;
	/* margin: 100px auto; */
}

div.single-chart-container{
	background: #fff;
	box-shadow: 1px 1px 12px #e5e5e5;
	border-radius: 6px;
	padding: 20px;
	text-align: center;
}

div.charts-main-container{
	max-width: 1260px;
}

div.data-comparison-item{
	display: inline-block;
}

div.data-comparison-item span.data-comparison-item-title{
	font-size: 12px;
	font-family: quicksand-bold;
	vertical-align: middle;
}

span.data-comparison-item-icon{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	margin: 4px;
	vertical-align: middle;
}

span.data-comparison-item-icon.blue{
	background: #2590f4;
}

span.data-comparison-item-icon.red{
	background: #F54040;
}

body {
  font: 10px sans-serif;
  /* margin: 50px; */
}
 
/*
** line chart css
*/

.grid .tick {
	stroke: lightgrey;
	opacity: 0.7;
	shape-rendering: crispEdges;
}
 
.axis text {
	fill: #555;
}
 
.axis .axis-label {
	font-size: 14px;
}
 
.line {
	fill: none;
	stroke-width: 1.5px;
}
 
.dot {
	/* consider the stroke-with the mouse detect radius? */
	stroke: transparent;
	stroke-width: 10px;  
	cursor: pointer;
}
 
.dot:hover {
	stroke: rgba(68, 127, 255, 0.3);
}

/*
** line chart css end
*/

div.custom-tooltip {
	position: absolute;
	width: 160px;
	background: white;
	box-shadow: 1px 1px 8px #b5b5b5;
	border-radius: 4px;
}

.custom-tooltip p, .custom-tooltip div{
	padding: 8px;
	vertical-align: middle;
} 

.custom-tooltip div{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 6px;
	padding-bottom: 6px; 
}

.custom-tooltip p{
	background: linear-gradient(rgba(9, 63, 91, 1), rgba(9, 63, 91, 1));
	color: white;
	font-size: 12px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
} 

div.custom-tooltip span.data-comparison-item-icon{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	vertical-align: middle;
	margin: 4px;
}

div.custom-tooltip span.data-comparison-item-percent{
	font-size: 14px;
	margin: 4px;
	vertical-align: middle;
}

div.custom-tooltip span.data-comparison-item-group{
	margin: 4px;
	color: #b5b5b5;
	font-family: quicksand-bold;
	vertical-align: middle;
}

.selected-blue-border{
	border: 1px solid #2590f4;
	min-width: 0px;
	border-radius: 4px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 12px;
	margin: 12px;
}

.unselected-grey-border{
	min-width: 0px;
	border-radius: 4px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 12px;
	margin: 12px;
	color: #b5b5b5;
}

.chart-title{
	margin-top: 8px;
}

.md-chart{
	height: 300px;
}

.rg-chart{
	height: 380px;
}

.sm-chart{
	height: 140px;
}