body{
	background: #fafbff;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-left: 24px;
	padding-right: 24px;
	z-index: 1;
	padding-top: 16px;
	padding-bottom: 16px;
	background: linear-gradient(rgba(9, 63, 91, 1), rgba(9, 63, 91, 1));
}

header p{
	display: inline;
	vertical-align: middle;
	color: white;
	margin: 0;
}

p.logo-text{
	font-size: 20px;
	letter-spacing: 0px;
	margin-left: 8px;
}

p.user-profile-name{
	font-size: 12px;
	letter-spacing: 0px;
	margin-left: 8px;	
	font-family: quicksand-bold;
}

p.light-bg-header{
	color: black;
}

img.header-logo{
	width: 200px;
	vertical-align: middle;
	font-family: quicksand-bold;
	font-style:  italic;
	margin-top:  3px;
	cursor: pointer;
}

img.user-profile-icon{
	width: 30px;
	height: 30px;
	vertical-align: middle;	
	border-radius: 15px;
	border: 1px solid white;
}

img.profile-more-icon{
	width: 8px;
	height: 8px;
	margin: 4px;
	opacity: 0.7;
	margin-top: 6px;
	vertical-align: middle;
}

img.user-settings-icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    opacity: 0.8;
    cursor: pointer;
}

p.menu-button-text{
	display: inline-block;
	font-size: 12px;
	vertical-align: middle;
	font-family: quicksand-bold;
}

div.menu-buttons div{
	 margin-bottom: -16px;
	 margin-top: 6px;
	 text-align: center;
}

div.menu-buttons div.active{
	 border-bottom: 4px solid #2590f4; 
}

div.menu-buttons div.active p{
	color: #2590f4;
}

div.charts-container{
	width: 94vw; 
	margin: 12px;
	height: 82vh;
	margin: 12px;
	background: #fff;
	box-shadow: 1px 1px 12px #e5e5e5;
	border-radius: 6px;
	padding: 12px;
}

div.multiple-charts-container div.chart-item{
	margin: 0px;
	background: #fff;
	box-shadow: 1px 1px 12px #e5e5e5;
	border-radius: 6px;
	padding: 12px;
	text-align: center;
	/* margin: 100px auto; */
	display: inline-block;
	background-clip: padding-box;
	/* border: 10px solid white; */
}

div.single-chart-container{
	background: #fff;
	box-shadow: 1px 1px 12px #e5e5e5;
	border-radius: 6px;
	padding: 16px;
	text-align: center;
}

div.charts-main-container{
	max-width: 1260px;
	margin-bottom: 20px;
}

div.data-comparison-item{
	display: inline-block;
}

div.data-comparison-item span.data-comparison-item-title{
	font-size: 12px;
	font-family: quicksand-bold;
	vertical-align: middle;
}

span.data-comparison-item-icon{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	margin: 4px;
	vertical-align: middle;
}

span.data-comparison-item-icon.blue{
	background: #2590f4;
}

span.data-comparison-item-icon.red{
	background: #F54040;
}

body {
  font: 10px sans-serif;
}
 
/*
** line chart css
*/

.axis .domain {
  display: none;
}

.axis{
	font-size: 12px;
	font-family: quicksand-bold;
	font-weight: 700;
	color: #bcbcbc;
}

.axis path {
	fill: none;
	stroke: #bbb;
	shape-rendering: crispEdges;
}

.c3-axis .tick line {display: none;}

.grid .tick {
	stroke: lightgrey;
	opacity: 0.7;
	shape-rendering: crispEdges;
}
 
.axis text {
	fill: #555;
}
 
.axis .axis-label {
	font-size: 14px;
}
 
.line {
	fill: none;
	stroke-width: 1.5px;
}
 
.dot {
	stroke: transparent;
	stroke-width: 10px;  
	cursor: pointer;
}
 
.dot:hover {
	stroke: rgba(68, 127, 255, 0.3);
}

/*
** line chart css end
*/

.data-section-button.selected{
	border: 1px solid #2590f4;
	min-width: 0px;
	border-radius: 4px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 12px;
	margin: 12px;
	cursor: pointer;
}

.data-section-button.unselected{
	min-width: 0px;
	border-radius: 4px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 12px;
	margin: 12px;
	color: #b5b5b5;
	cursor: pointer;
}

.chart-title{
	margin-top: 8px;
}

.md-chart{
	height: 300px;
}

.rg-chart{
	height: 380px;
}

.lg-chart{
	height: 420px;
}

.sm-chart{
	height: 160px;
}

.progress.big{
	max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    height: 14px;
    margin: 6px;
    background: #fff;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.progress.big.red .progress-bar{
	background: #F54040;
	border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.progress.big.blue .progress-bar{
	background: #2590f4;
	border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

span.data-comparison-item-value {
    font-size: 14px;
    vertical-align: middle;
    margin: 8px;
}

div#generateInsightsBlock{
	display:none;
}