body{
	background: #fafbff;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 12px;
	z-index: 1;
	background: white;
	box-shadow: 4px 4px 24px #dddddd;
}

header p{
	display: inline-block;
	vertical-align: top;
	color: white;
	font-size: 26px;
	letter-spacing: 3px;
	margin: 0;
	line-height: 36px;
	margin-left: 8px;
}

img.birthday-icon-small, img.mood-icon-small{
	width: 24px;
	height: 24px;
	margin: 8px;
}

img.big-icon{
	width: 56px;
	height: 56px;
}

img.big-icon.result{
	width: 48px;
	height: 48px;
	margin-left: -17px;
	margin-bottom: -9px;
	border: 5px solid #fafbff;
	border-radius: 24px;
}

button.button{
	cursor: pointer;
	color: #d2d2d2;
}

button.button.active{
	color: #2590f4;
}

button.button.birthday img, button.button.birthday span{
	vertical-align: middle;
}

button.button.mood img, button.button.mood span{
	vertical-align: middle;
}

#section-1{
	text-align: center;
}

#section-2{
	text-align: center;
}

#section-3{
	text-align: center;
}

#section-4{
	text-align: center;
}

h1.big-header{
	font-size: 28px;
}

.button.get-started{
	background: #2590f4;
	box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2196078431372549);
	color: white;
	width: 240px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-radius: 36px;
	font-size: 20px;
	margin: 12px;
	cursor: pointer;
}

.button.blue-border-bg{
	background: transparent;
	color: #2590f4;
	width: 240px;
	padding-top: 16px;
	padding-bottom: 16px;
	border: 1px solid #2590f4;
	border-radius: 36px;
	margin: 12px;
	font-size: 20px;
	cursor: pointer;
}

.dark-text a{
	color: #a0a0a0;
	text-decoration: none;
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 16px;
}

img.footer-logo{
	height: 19px;
	width: 144px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 4px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.5;
}

.footer-text{
	vertical-align: middle;
	margin-top: 6px;
	margin-bottom: 6px;
	color: #d2d2d2;
}

img.calendars-img{
	width: 500px;
}

.progress{
	padding: 0;
}

.email-card{
	background: white;
	border: 1px solid #e5e5e5;
}

div.email-from-block{
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid #e5e5e5;
}

div.email-from-block img.small-icon{
	width: 16px;
	height: 16px;
	margin: 6px;
	vertical-align: middle;
}

div.email-from-block p{
	display: inline-block;
	font-size: 16px;
	color: #b5b5b5;
	vertical-align: middle;
}

div.email-content{
	padding: 16px;
	font-size: 18px;
}

/*
** line chart css
*/

.grid .tick {
	stroke: lightgrey;
	opacity: 0.7;
	shape-rendering: crispEdges;
}
 
.axis text {
	fill: #555;
}
 
.axis .axis-label {
	font-size: 14px;
}
 
.line {
	fill: none;
	stroke-width: 1.5px;
}
 
.dot {
	/* consider the stroke-with the mouse detect radius? */
	stroke: transparent;
	stroke-width: 10px;  
	cursor: pointer;
}
 
.dot:hover {
	stroke: rgba(68, 127, 255, 0.3);
}

.domain{
	fill: transparent;
}

/*
** line chart css end
*/

div.button.calendar span, div.button.calendar img{
	vertical-align: middle;
	color: #bcbcbc;
} 

div.button.calendar img{
	width: 20px;
	height: 20px;
}

div.button.calendar{
	background: #fff;
	color: #bcbcbc;
	padding: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	border: 2px solid #2590f4;
	border-radius: 26px;
	font-size: 12px;
}

div.button.calendar input{
	background: white;
	box-shadow: none;
	border: none;
	width: 110px;
	vertical-align: middle;
	color: #b4b4b4;
	margin-top: 2px;
	padding: 0px;
	margin-right: 0px;
	font-size: 16px;
}

div.button.calendar label{
	margin: 0px;
}

.md-chart{
	height: 300px;
}

.rg-chart{
	height: 380px;
}

.lg-chart{
	height: 420px;
}

.sm-chart{
	height: 160px;
}

div.line-chart-tooltip{
	position: absolute;
	background: white;
	padding: 8px;
	border: 1px solid #eaeaea;
	box-shadow: 1px 1px 7px #e5e5e5;
	margin: auto;
}

div.line-chart-tooltip > div{
	display: inline-block;
}

div.line-chart-tooltip-item{
	display: inline-block;
	padding: 0px;
	padding-left: 16px;
	padding-right: 16px;
}

div.line-chart-tooltip-item p:first-child{
	font-size: 36px;
	color: #6a6a6a;
}

div.line-chart-tooltip-item p:last-child{
	font-size: 12px;
	color: #b5b5b5;
}

div.line-chart-tooltip-item-block:first-child{
	border-right: 1px solid #e5e5e5;
}

div.line-chart-tooltip-item-block:last-child{
	border-left: 1px solid #e5e5e5;	
}