#section-1{
	background: url(../images/background.png);
	text-align: center;
	background-size: cover;
	color: white;
	padding: 14px;
}

#section-2{
	background: #ececf0;
	text-align: center;
}

#section-3{
	background: #ffffff;
	text-align: center;
}

#section-4{
	background: linear-gradient(rgba(9, 63, 91, 1), rgba(9, 63, 91, 1));
	background-size: cover;
	background: url('../images/bg-3.png');
	color: white;
	padding: 14px;
}

#section-5{
	background: #ffffff;
	text-align: center;
}

/*
** navigation dots settings
*/
div#fp-nav{
	margin-top: -53.5px;
	background: rgba(0, 0, 0, 0.1411764705882353);
	border-radius: 20px;
}

#fp-nav ul li{
	display: block;
	width: 24px;
	height: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 2px;
	margin-right: 2px;
	position: relative;
}

#fp-nav ul li:first-child{
	margin-top: 6px;
}

#fp-nav ul li:last-child{
	margin-bottom: 6px;
}

#fp-nav ul li a span{
	border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 12px;
    width: 12px;
    border: 0;
    background: #acb1b5;
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -6px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#fp-nav ul li a.active span{
	background: #2590f4;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 24px;
	z-index: 1;
}

header p{
	display: inline-block;
	vertical-align: middle;
	color: white;
	font-size: 24px;
	letter-spacing: 3px;
	line-height: 96px;
	margin: 0;
	line-height: 36px;
	margin-left: -12px;
}

p.light-bg-header{
	color: black;
}

img.header-logo{
	width: 240px;
	/* line-height: 80px; */
	vertical-align: middle;
	font-family: arial;
	font-style:  italic;
}

.button.signup{
	border: 2px solid #2590f4;
	border-radius: 20px;
}

.buttons{
	display: inline-block;
	position: absolute;
	right: 24px;
}

.big-header{
	font-size: 50px;
	font-family: quicksand-bold;
	letter-spacing: 0px;
	word-spacing: 2px;
	color: #003554;
}

.bold-text{
	font-family: quicksand-bold;
}

.excited-text{
	color: #3b5970;
}

.big-header.white{
	color: white;
}

.feature-desc-text{
	letter-spacing: 0px;
	word-spacing: 2px;
}

.button.get-started{
	background: #2590f4;
	box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2196078431372549);
	color: white;
	width: 220px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-radius: 36px;
	font-size: 20px;
	cursor: pointer;
}

.border-left-right{
	border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd;
}

.three-grid-box-container div{
	padding-left: 18px;
	padding-right: 18px;
}

img.arrow-img{
	width: 18px;
	height: 18px;
	display: inline-block;
}

img.arrow-img.left{

}

img.arrow-img.right{
	transform: rotate(180deg);
}

img.small-banner-img{
	width: inherit;
	box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2196078431372549);
}

.card-bg-container{
	height: 10px;
	background: #e5e5e5;
	margin-left: 16px;
	margin-right: 16px;
}

ul.ul-without-dots{
	list-style: none;
	padding-left: 0;
}

ul.ul-without-dots li{
	margin-top: 16px;
}

ul.ul-without-dots li p{
	display: inline;
}

.extra-margin-left{
	margin-left: 80px;
}

img.tick-mark{
	width: 13px;
	height: 13px;
	margin: 8px;
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 32px;
	background: #ececf0;
}

img.footer-social-icons{
	width: 20px;
	height: 20px;
	margin: 8px;
}

img.footer-social-icons.twitter{
	width: 22px;
	height: 22px;
	margin: 8px;
}

p{
	font-size: 18px;
}